Programación/flows.json
[
    {
        "id": "ac1f7d78ae9120ab",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "012d51d5f143621d",
        "type": "mqtt in",
        "z": "ac1f7d78ae9120ab",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 580,
        "wires": [
            [
                "7dacffb456fac4d3",
                "23b5b818239ac1d0"
            ]
        ]
    },
    {
        "id": "7dacffb456fac4d3",
        "type": "debug",
        "z": "ac1f7d78ae9120ab",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 500,
        "wires": []
    },
    {
        "id": "23b5b818239ac1d0",
        "type": "ui_text",
        "z": "ac1f7d78ae9120ab",
        "group": "1d189663ace0a31a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "hola.png",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "1d189663ace0a31a",
        "type": "ui_group",
        "name": "Default",
        "tab": "265b6b47f91db769",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "265b6b47f91db769",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c0ef435afd21eaa3",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]