Programación/flows (1).json
[
    {
        "id": "a53bc27d67226e0f",
        "type": "tab",
        "label": "ESP32 • HiveMQ • 3 Sensores",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3b0b7c84d41c64b3",
        "type": "mqtt in",
        "z": "a53bc27d67226e0f",
        "name": "Datos ESP32",
        "topic": "delfi/esp32/sensors",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "2235c196aedb5e95"
            ]
        ]
    },
    {
        "id": "2235c196aedb5e95",
        "type": "json",
        "z": "a53bc27d67226e0f",
        "name": "JSON → obj",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "2b0587f2df7bf239"
            ]
        ]
    },
    {
        "id": "2b0587f2df7bf239",
        "type": "function",
        "z": "a53bc27d67226e0f",
        "name": "Split 3 sensores",
        "func": "let p = msg.payload || {}; let now = Date.now();\nlet m1 = {topic:\"S1\", payload: Number(p.s1_pct||0), ts: now};\nlet m2 = {topic:\"S2\", payload: Number(p.s2_pct||0), ts: now};\nlet m3 = {topic:\"S3\", payload: Number(p.s3_v||0),   ts: now};\nreturn [m1, m2, m3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 120,
        "wires": [
            [
                "8041d8d7f70c4bb0",
                "83047a07a46b72fd"
            ],
            [
                "090ca62648dde99f",
                "df2d8f10047e5362"
            ],
            [
                "6f7e8f65ac8fd5c0",
                "7cdaf0b085501938"
            ]
        ]
    },
    {
        "id": "8041d8d7f70c4bb0",
        "type": "ui_gauge",
        "z": "a53bc27d67226e0f",
        "name": "S1 • Luz",
        "group": "grp_s1",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Luz",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "sensor-card",
        "x": 760,
        "y": 60,
        "wires": []
    },
    {
        "id": "83047a07a46b72fd",
        "type": "ui_chart",
        "z": "a53bc27d67226e0f",
        "name": "Histórico S1",
        "group": "grp_s1",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Luz (%) – última hora",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e"
        ],
        "outputs": 1,
        "x": 770,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "090ca62648dde99f",
        "type": "ui_gauge",
        "z": "a53bc27d67226e0f",
        "name": "S2 • Humedad",
        "group": "grp_s2",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "sensor-card",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "df2d8f10047e5362",
        "type": "ui_chart",
        "z": "a53bc27d67226e0f",
        "name": "Histórico S2",
        "group": "grp_s2",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Humedad (%) – última hora",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e"
        ],
        "outputs": 1,
        "x": 770,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6f7e8f65ac8fd5c0",
        "type": "ui_gauge",
        "z": "a53bc27d67226e0f",
        "name": "S3 • Voltaje",
        "group": "grp_s3",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Voltaje",
        "label": "V",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "3.3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "sensor-card",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "7cdaf0b085501938",
        "type": "ui_chart",
        "z": "a53bc27d67226e0f",
        "name": "Histórico S3",
        "group": "grp_s3",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Voltaje (V) – última hora",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "3.3",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e"
        ],
        "outputs": 1,
        "x": 770,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5fae6dc8178cd8db",
        "type": "mqtt in",
        "z": "a53bc27d67226e0f",
        "name": "Estado ESP32",
        "topic": "delfi/esp32/status",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "e7af8a21f7dc29d3"
            ]
        ]
    },
    {
        "id": "e7af8a21f7dc29d3",
        "type": "ui_text",
        "z": "a53bc27d67226e0f",
        "group": "grp_state",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "Estado",
        "label": "ESP32",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 340,
        "y": 240,
        "wires": []
    },
    {
        "id": "3f5f88e2110aa089",
        "type": "ui_template",
        "z": "a53bc27d67226e0f",
        "group": "grp_state",
        "name": "Estilos personalizados",
        "order": 2,
        "width": 12,
        "height": 1,
        "format": "<style>\n  :root { --brand: #000080; --accent: #A68542; --soft:#DFDFE6; }\n  md-card, .sensor-card { border-radius: 16px !important; box-shadow: 0 8px 24px rgba(0,0,0,.12) !important; border: 1px solid var(--soft) !important; }\n  .nr-dashboard-theme md-toolbar, .nr-dashboard-theme .md-toolbar-tools { background: var(--brand) !important; color: #fff !important; }\n  .nr-dashboard-theme .nr-dashboard-cardtitle, .nr-dashboard-theme .nr-dashboard-text p, .nr-dashboard-theme .md-display-1, .nr-dashboard-theme .md-headline { font-family: Inter, Segoe UI, Roboto, Arial, sans-serif !important; letter-spacing: .2px; }\n  .nr-dashboard-theme .nr-dashboard-cardtitle { font-weight: 600; color: var(--brand); }\n  .nr-dashboard-gauge svg text { font-weight: 600; }\n  .nr-dashboard-chart .chart-legend { display:none; }\n</style>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 390,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "HiveMQ público",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grp_s1",
        "type": "ui_group",
        "name": "S1 Luz %",
        "tab": "ui_tab",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "grp_s2",
        "type": "ui_group",
        "name": "S2 Humedad %",
        "tab": "ui_tab",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "grp_s3",
        "type": "ui_group",
        "name": "S3 Voltaje",
        "tab": "ui_tab",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "grp_state",
        "type": "ui_group",
        "name": "Estado",
        "tab": "ui_tab",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_tab",
        "type": "ui_tab",
        "name": "IoT Lab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "965fe8e63b45437c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]